/*******************************
THIS FILE CONTAINS MEDIA QUERIES
*******************************/

@media all and (max-width: 999px) {

	/***********************
	2. HEADER ELEMENTS STYLE
	***********************/

	/* ADVERTISEMENT BANNER STYLE */

	.adverisement a img {
		margin: 30px auto;
	}

	/* MAIN MENU STYLE */

	/* First level links */
	.main-menu ul li a {
		padding-left: 11px;
		padding-right: 11px;
	}

	.main-menu ul li.active a {
		padding-left: 13px;
		padding-right: 13px;
	}

	/*********************
	CONTENT ELEMENTS STYLE
	*********************/

	/* "WELCOME" BLOCK */

	.welcome .welcome-globe .globe {
		top: 1px;
		width: 200px;
		margin-left: -100px;
	}

	/* "COMPANY BLOG POST" BLOCK */

	.company-blog-post .company-blog-post-social a {
		width: 35px;
	}

	/* "COMPANY TABS" BLOCK */

	ul.company-tabs li a {
		padding: 0 15px;
	}

}

@media all and (max-width: 767px) {

	h1 {
		font-size: 2.2857em;
	}

	/********************
	HEADER ELEMENTS STYLE
	********************/

	.header-top-right {
		text-align: center;
		border-top: 1px solid #e6e6e6;
		padding-left: 2%;
		padding-right: 2%;
		margin-left: 0;
		margin-right: 0;
	}

	/* USER LINKS STYLE */

	.user-links {
		text-align: center;
	}

	/* LANGUAGE SELECTOR STYLE */

	.languages {
		float: none;
	}

	/* LOGO STYLE */

	.logo {
		text-align: center;
	}

		.logo a {
			display: inline-block;
		}

			.logo a img {
				margin: 10px 0;
			}

	/* ADVERTISEMENT BANNER STYLE */

	.adverisement a img {
		margin: 0 0 10px;
	}

	/*********************
	CONTENT ELEMENTS STYLE
	*********************/

	/* "COMPANY TABS" BLOCK */

	ul.company-tabs li a {
		padding: 0 5px;
	}

	.search-wrapper {
		background-color: transparent;
	}

		.search-wrapper .zone-search {
			background-color: rgba(77, 77, 77, 0.9);
		}

	.sidebar-container {
		margin-top: 20px;
	}

	/* SEARCH STYLE */

	/* Default search form */
	.search .default-search .input-text {
		width: 43%;
		margin: 20px 2% 0;
	}

	.search .default-search .jquery-selectbox {
		width: 43% !important;
		margin: 20px 2% 0;
	}

	.search .default-search .submit {
		float: right;
		width: 140px;
		margin-right: 2%;
	}

	/* Advanced search form */
	.search .advanced-search .slider {
		width: 52.5%;
	}

	.search .advanced-search .slider-value {
		width: 17.0625%;
	}

	/* "INDUSTRIES TABS" BLOCK */

	.industries-tabs ul li {
		width: 20%;
		height: 40px;
	}

	.industries-tabs ul li:hover {
		background-image: none;
	}

		.industries-tabs ul li a.sports,
		.industries-tabs ul li a.offices {
			border-left: 1px solid #e7e7e7;
		}

	/* "WELCOME" BLOCK */

	.welcome .welcome-globe .globe {
		top: -20px;
		width: auto;
		margin-left: -122px;
	}

	/* "SINGLE COMPANY" BLOCK */

	.single-company .company-info .company-info-social {
		float: none;
		margin: 0 auto 20px;
	}

	.single-company .company-info .company-info-description {
		margin-left: 0;
	}

	/* "COMPANY TABS - SINGLE COMPANY" BLOCK */

	.company-tabs-single-company .company-info .company-info-social {
		float: none;
		margin: 0 auto 20px;
	}

	.company-tabs-single-company .company-info .company-info-description {
		margin-left: 0;
	}

	/* "COMPANY EMPLOYEE INFO" BLOCK */

	.company-employee-info .company-employee-info-social {
		float: none;
		margin-bottom: 20px;
	}

	.company-employee-info .company-employee-info-description {
		margin-left: 0;
	}

	/********************
	FOOTER ELEMENTS STYLE
	********************/

	.footer-wrapper .zone-footer .footer-container .block {
		float: none;
		width: 100%;
		margin: 0 0 30px 0;
	}

	.copyright-wrapper .zone-copyright .copyright-left-container,
	.copyright-wrapper .zone-copyright .copyright-right-container  {
		text-align: center;
	}

}

@media all and (max-width: 600px) {

	/* "WELCOME" BLOCK */

	.welcome .welcome-globe .globe {
		top: 1px;
		width: 200px;
		margin-left: -100px;
	}

}

@media all and (max-width: 500px) {

	.user-links .register .register-form {
		right: 0;
		background-position: right top;
	}

	/*********************
	CONTENT ELEMENTS STYLE
	*********************/

	/* "SEARCH" BLOCK */

	.search .advanced-search input {
		float: right;
		width: 59.5%;
		padding: 5px 1.5%;
    	margin: 5px 14% 5px 0;
	}

	.search .advanced-search .jquery-selectbox {
		width: 59.5% !important;
		margin-top: 10px;
		margin-bottom: 10px;
	}

		.search .advanced-search .location-fields .jquery-selectbox {
			width: 59.5% !important;
			margin: 10px 1% 5px 0;
		}

	.search .advanced-search .separator {
		display: none;
	}

	.search .advanced-search .submit {
		margin: 0 14% 5px 0;
	}

	/* "WELCOME" BLOCK */

	.welcome .welcome-globe .globe {
		top: 51px;
		width: 100px;
		margin-left: -50px;
	}

	/* "BLOG POST" BLOCK */

	.blog-post .blog-post-info .social-links {
		float: none;
		display: block;
		text-align: center;
	}

	/* "PRODUCTS" BLOCK */
		
	.products table tr td {
		display: block;
		width: 100%;
	}

	/* "COMPANY BLOG POST" BLOCK */

	.company-blog-post .company-blog-post-social {
		border: 1px solid #e7e7e7;
		background-color: #ffffff;
	}

			.company-blog-post .company-blog-post-social a {
				float: right;
				width: 14.2857%;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}

			.company-blog-post .company-blog-post-social a.facebook {
				border-left: none;
			}

			.company-blog-post .company-blog-post-social .social-label {
				clear: both;
				line-height: 25px;
				border-top: 1px solid #e7e7e7;
				padding: 0;
				text-align: center;
			}

}

@media all and (max-width: 450px) {

	/*****************
	1. COMMON ELEMENTS
	*****************/

	/* "EMPLOYEE INFO" BLOCK */

	.employee-info .employee-info-social {
		float: none;
		margin: 0 auto 10px;
	}

	.employee-info .employee-info-description {
		margin-left: 0;
	}

	/* PRICING TABLE */

	.pricing-table .pricing-column .pricing-cost {
		font-size: 1em;
	}

	/***********************
	2. HEADER ELEMENTS STYLE
	***********************/

	.header-top-right {
		border-top: none;
		padding-left: 0;
		padding-right: 0;
		margin-left: 2%;
		margin-right: 2%;
	}

	/* SOCIAL LINKS STYLE */

	.social-links {
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
	}

	/* LANGUAGE SELECTOR STYLE */

	.languages {
		display: block;
	}

		.languages .en {
			border-left: 1px solid #e6e6e6;
		}

	/************************
	3. CONTENT ELEMENTS STYLE
	************************/

	/* OUR DIRECTORY BLOCK STYLE */

	.our-directory .subscription-table .subscription-column {
		float: none;
		width: 100%;
	}

	/* "SHORTCODES" BLOCK */

	.shortcodes input,
	.shortcodes input.row-last {
		display: block;
		width: auto;
		margin: 40px auto 0;
	}

}